.card {
  width: 25%;
  padding: 20px;
  box-shadow: 0px 7px 5px 1px #d6d6d6;
  text-align: center;
  max-height: 380px; }
  .card img {
    margin: 30px; }
  .card .dots {
    margin: 20px auto;
    width: 90%;
    border-bottom: 10px dotted #d6d6d6; }
