.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  padding: 20px;
  box-shadow: 0px 7px 5px 1px #d6d6d6; }
  .card img {
    margin: 30px; }
  .card .dots {
    width: 90%;
    border-bottom: 10px dotted #d6d6d6;
    margin: 20px 0px; }
