@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");
button {
  background-color: none;
  border: none; }

html, body {
  font-family: 'Rubik', sans-serif;
  font-size: 18px; }

p {
  color: #9194a1; }

.mt-5 {
  margin-top: 100px; }
