.nav {
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  padding: 0 20px; }
  .nav--toggle {
    margin-left: auto; }

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw; }
  .hero img {
    width: 80%; }
  .hero .hero-content {
    text-align: center;
    width: 100%; }
  .hero .circle--container {
    position: absolute;
    top: 30%;
    right: -160px;
    border-radius: 100px;
    z-index: -1;
    width: 100%;
    height: 30%;
    background: #5368df; }

.content-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center; }
  .content-block .content-block--heading {
    font-size: 30px; }
  .content-block .content-block--dual-cta {
    display: flex;
    flex-direction: row; }
  .content-block p {
    padding-left: 20px;
    padding-right: 20px; }

.btn {
  text-align: center;
  padding: 20px;
  text-decoration: none;
  background-color: #5368df;
  color: white;
  border-radius: 5px;
  margin: 5px;
  box-shadow: 0 8px 6px -6px #8f8f8f; }

.btn-lg {
  font-size: 16px;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
  background-color: #5368df;
  color: white;
  border-radius: 5px;
  box-shadow: 0 8px 6px -6px #8f8f8f; }

.btn-xlg {
  font-size: 16px;
  text-align: center;
  padding: 20px 30px;
  width: 100%;
  text-decoration: none;
  background-color: #5368df;
  color: white;
  border-radius: 5px;
  box-shadow: 0 8px 6px -6px #8f8f8f; }

.btn--soft-red {
  background-color: #fa5757; }

.btn--gray {
  background-color: #fafafa;
  color: black; }

.feature-list {
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-items: center;
  width: 100%; }
  .feature-list li {
    min-height: 60px;
    text-decoration: none;
    color: black;
    border-bottom: 3px solid #d7d8db;
    display: block;
    margin: 10px;
    width: 90%; }
  .feature-list a {
    text-decoration: none;
    color: black; }
  .feature-list a:hover {
    padding-bottom: 35px;
    border-bottom: 5px solid #fa5757; }

.img-content-block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  flex: 0 0 100% img;
    flex-width: 100vw;
    flex-min-width: 100vw; }
  .img-content-block .circle--container {
    position: absolute;
    top: 0%;
    left: -160px;
    border-radius: 100px;
    z-index: -1;
    width: 100%;
    height: 50%;
    min-height: 50%;
    background: #5368df; }

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  padding: 20px;
  box-shadow: 0px 7px 5px 1px #d6d6d6; }
  .card img {
    margin: 30px; }
  .card .dots {
    width: 90%;
    border-bottom: 10px dotted #d6d6d6;
    margin: 20px 0px; }

.toggler-block {
  padding: 20px 10px 20px 10px;
  text-align: left;
  width: 90%; }
  .toggler-block h3 {
    display: inline;
    padding: 10px; }
  .toggler-block:hover {
    color: #5368df;
    cursor: pointer; }

.toggler--closed {
  height: 0px;
  overflow: hidden;
  transition: height .5s; }

.toggler--open {
  height: 200px;
  overflow: hidden;
  transition: height .5s; }

.email-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  background-color: #5368df;
  color: white; }
  .email-signup p {
    color: white;
    padding: 0px;
    margin: 0px; }
  .email-signup h1 {
    padding: 0px;
    width: 70%;
    margin: 5px; }
  .email-signup input {
    width: 100%;
    border-radius: 5px;
    height: 40px;
    font-size: 18px;
    color: #9194a1;
    border-width: 1px;
    padding: 10px; }
  .email-signup .btn-xlg {
    box-shadow: none; }

.footer {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #2b3673; }
  .footer svg {
    fill: white;
    color: white; }
  .footer ul {
    list-style: none;
    text-decoration: none;
    text-align: center; }
  .footer ul li {
    padding: 10px;
    font-size: 1.3rem;
    text-decoration: none;
    text-transform: capitalize; }
  .footer a {
    text-decoration: none;
    text-transform: capitalize;
    color: white; }
