@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@import "./variables";

button {
    background-color: none;
    border: none;
}

html, body {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    overflow-x: hidden;
    margin: auto 0;
}
p{
    font-size: 1rem;
    color:hsl(229, 8%, 60%);
    line-height: 30px;
}

.main{
    max-width: 1200px;
    margin: 0 auto;
}

a{

}

.center {
    margin: 0 auto;
}

.mt-5 {
    margin-top: 100px;
}

.mb-3 {
    margin-bottom: 50px;
}

.mb-1 {
    margin-bottom: 15px;
}

.mt-3 {
    margin-top: 70px;
}

.mt-1 {
    margin-top: 20px;
}
.w-50{
    width: 50%;
}

.w-70{
    width: 70%;
}

.align-right{
    float: right;
    text-align: right;
    margin-left: auto;
}

.p-3 {
    padding: 30px;
}

.pl-3 {
    padding-left: 30px;
}

.align-center {
    text-align: center;
}

.align-left {
    margin-right: auto;
}

.pr-3 {
    padding-right: 30px;
}

.col-6{
    width: 50%;


}