.btn {

    text-align: center;
    padding: 20px;
    text-decoration: none;
    background-color: hsl(231, 69%, 60%);
    color:white;
    border-radius: 5px;
    margin:5px;
    box-shadow: 0 8px 6px -6px black;
}

.btn--gray{
    background-color: hsl(0, 0%, 98%);
    color:black;
}