.content-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center; }
  .content-block .content-block--heading {
    font-size: 30px; }
  .content-block .content-block--dual-cta {
    display: flex;
    flex-direction: row; }
