.hero {
    position: relative;
    display: flex;
    width: 100vw;
    flex-direction: row-reverse;
    img {
        width: 100%;
    }

    .circle--container{
       position: absolute;
       top: 55%;
       right: -160px;
       border-radius: 100px;
       // right: 100px;
        z-index: -1;
        width: 60%;
        height: 40%;
        min-height: 40%;
        background: hsl(231, 69%, 60%);
       
    }

}