.card {
    width: 25%;
    padding: 20px;
    box-shadow: 0px 7px 5px 1px rgba(214,214,214,1);
    text-align: center;
    img{
      margin: 30px;
    }
    .dots {
      margin: 20px auto;
      width: 90%;
      border-bottom: 10px dotted rgba(214,214,214,1);
    }
  }