.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 500px; }
  .hero img {
    width: 100%; }
  .hero .circle--container {
    min-width: 100%;
    position: absolute;
    z-index: -1;
    top: 30%; }
  .hero .circle {
    float: right;
    height: 400px;
    width: 400px;
    margin: 0 auto;
    clip-path: circle(50% at 0 50%);
    transform: scaleX(-1);
    background: #5368df; }
