.feature-list {
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-items: center;
  width: 100%;
  padding: 10px; }
  .feature-list li {
    min-height: 60px;
    text-decoration: none;
    color: black;
    border-bottom: 3px solid #d7d8db;
    display: block;
    margin: 10px;
    width: 90%; }
  .feature-list a {
    text-decoration: none;
    color: black; }
  .feature-list a:hover {
    padding-bottom: 35px;
    border-bottom: 5px solid #fa5757; }
