.img-content-block {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 400px;;
    img {
        width: 80%;
    }


    .circle--container{
       position: absolute;
       top: 30%;
       left: -160px;
       border-radius: 100px;
       // right: 100px;
        z-index: -1;
        width: 100%;
        height: 70%;
        min-height: 70%;
        background: hsl(231, 69%, 60%);
       
    }


}
